<h3>スケジュール詳細</h3>

<table>
  <tr>
    <th>ID</th>
    <td><%= @post.id %></td>
    </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @post.title %></td>
  <tr>
    <th>開始日</th>
    <td><%= @post.start_at %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @post.end_at %></td>
  </tr> 
  <tr>
    <th>終日</th>
    <td><%= @post.is_all_day %></td>
  </tr> 
  <tr>
    <th>内容</th>
    <td><%= @post.memo %></td>
  </tr>
</table>

<div>
  <ul>
    <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
    <li><%= link_to "編集", [:edit, @post] %></li>
  </ul>
</div>